<% if @post.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h4>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= form_for @post do |f| %>
<%= f.label :title %>
<%= f.text_field :title %>
<br />
<%= f.label :description %>
<%= f.text_area :description, :size => "60x5" %>
<br />
<%= f.label :url %>
<%= f.text_field :url %>
<br />
<%= f.submit %>
<% end %>