<p class="lead"><a href="<%= @post.url %>"><%= @post.title %></a></p>
<hr>
<p><%= @post.description %></p>
<%= link_to 'Edit', edit_post_path(@post.id) %> |
<%= link_to 'Back', posts_path %>
<hr>
<h5>Categories</h5>
<% @post.categories.each do |c| %>
    <span class="label">
    <%= c.name %>
  </span>
  <% end %>
<hr>
<h5>Comments</h5>
<% @post.comments.each do |comment| %>
  <div class="well span8">
    
    <p><%= comment.body %></p>
    by <%= comment.user.username %>
  </div>
<% end %>
<div class="span8">
  <h5>Add Comment</h5>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :body %>
  <%= f.text_area :body, :size => "60x5" %>
  <br />
  <%= f.submit %>
<% end %>
</div>

