<ul class="nav">
  <li>
    <%= link_to "Postit!", root_path, :class => 'brand' %>
  </li>
  <li>
    <%= link_to "All post", posts_path %>
  </li>
</ul>

<% if logged_in? %>
<div class="nav_item">
  <%= link_to 'New Post', new_post_path, class: "btn btn-success btn-small " %>
</div>
<div class="nav_item">
  <%= link_to(logout_path, class: "btn btn-success btn-small") do %>
  <i class="icon-circle-arrow-left"></i>
  Logout
  <% end %>
</div>
<% else #logged out %>
  <div class="nav_item">
    <%= link_to "Register", register_path, class: "btn btn-success btn-small" %>
  </div>
  <div class="nav_item">
    <%= link_to "Login", login_path, class: "btn  btn-success btn-small" %>
  </div>
<% end %>

